header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;

}
#header1{
    display: flex;
    align-items: center;
}
#logoImg{
    width: 45px;
    height: 45px;
}
#logoText{
    margin-left: 40%;
    margin-right: 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
}
.aHead{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    margin: 2vh;
}
#buttonHead{
    width: 10vh;
    height: 4vh;
    text-size-adjust: 3vh;
}