<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Imgs/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>ToqueDeUmGorje</title>
</head>
<body>
    <!--div pro header melhor-->
    <header">
        <!--header part 1-->
        <div id="header1">
            <img id="logoImg" src="{{ url_for('static', filename='Imgs/logo.png') }}" >
            <h3 id="logoText">Toque De Um Gorje</h3>
            <a class="aHead">Galeria</a>
            <a class="aHead">Contato</a>
            <button id="buttonHead">Começar</button>
        </div>

    </header>

    <!--título central e subtítulo-->
    <div>
        <h1 id="bigTitle">Decorações fabulosas</h1>
        <p id="subtitle">se você busca por cor e elegância na decoração de sua ca, está no lugar certo!</p>

        <!--botões abaixo do texto-->
        <div>
            <button class="buttonMid" onclick="">Entre em contato</button>
            <button class="buttonMid" onclick="">saiba mais</button>
        </div>
    </div>

    <!--galeria-->
    <div>
        <h2 class="titleMenor">Galeria</h2>
        <p id="galeriaSub">exemplo de nossos produtos</p>

        <!--grid das imgs-->
        <div>
            <div class="blocoGaleria">
                <img src="" class="galeriaImg">
            </div>
            <div class="blocoGaleria">
                <img src="" class="galeriaImg">
            </div>
            <div class="blocoGaleria">
                <img src
        <h1 id="bigTitle">Decor="" class="galeriaImg">
            </div>
            <div class="blocoGaleria">
                <img src="" class="galeriaImg">
            </div>
        </div>
    </div>

    <!--grand finale-->
    <div>

        <h2 class="titleMenor">Benefícios</h2>
        <!--motivos-->
        <div class="pointsDiv">
            <h3 class="pointsText">Estética</h3>
            <p class="pointsMore">Beleza e elegância nos produtos.</p>
        </div>
        <div class="pointsDiv">
            <h3 class="pointsText">Acessível</h3>
            <p class="pointsMore">Disponível agora online é em lojas físicas.</p>
        </div>
        <div class="pointsDiv">
            <h3 class="pointsText">Entrega ágil</h3>
            <p class="pointsMore">Entrega rápida com qualidade.</p>
        </div>
    </div>

    <script src="javascript.js"></script>
</body>
</html>